#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
#include /usr/share/cdbs/1/class/langcore.mk
#include /usr/share/cdbs/1/class/makefile-vars.mk
include /usr/share/cdbs/1/rules/patchsys-quilt.mk

# binary-fixup
$(patsubst %,binary-fixup/%,$(DEB_ALL_PACKAGES)) ::
	pkg=$(subst binary-fixup/,,$@); \
		find debian/$$pkg/ \( -name .svn -o -name "*~" \) -exec rm -rf {} + 

binary-fixup/ossxp-testlink::
	# Remove runtime files used for development, or runtime files in development.
	# Dynamic generated templates files.
	-rm -rf debian/ossxp-testlink/opt/testlink/web/gui/templates_c
	# Database settings
	-rm -f debian/ossxp-testlink/opt/testlink/web/config_db.inc.php
	# TestLink custom config file...
	-rm -f debian/ossxp-testlink/opt/testlink/web/custom_config.inc.php
	# BTS custom config file...
	-rm -f debian/ossxp-testlink/opt/testlink/web/cfg/custom_*.php

	# Create runtime directory.
	mkdir   debian/ossxp-testlink/opt/testlink/web/gui/templates_c

	# Set permissions
	chown -R www-data.www-data debian/ossxp-testlink/opt/testlink/web/gui/templates_c
	chown -R www-data.www-data debian/ossxp-testlink/opt/testlink/log
	chown -R www-data.www-data debian/ossxp-testlink/opt/testlink/upload
	chown www-data.www-data debian/ossxp-testlink/opt/testlink/web

build/ossxp-testlink-doc::
	make -C debian/doc build

debian/control::

debian/patches/: debian/patches
debian/patches:
	rm -rf debian/patches
	tg export --all --quilt debian/patches
	cd debian && git status

.PHONY: debian/patches debian/control
# vim: noet
