#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
#include /usr/share/cdbs/1/class/langcore.mk
#include /usr/share/cdbs/1/class/makefile-vars.mk
include /usr/share/cdbs/1/rules/patchsys-quilt.mk

# binary-fixup
$(patsubst %,binary-fixup/%,$(DEB_ALL_PACKAGES)) ::
	pkg=$(subst binary-fixup/,,$@); \
		find debian/$$pkg/ \( -name .svn -o -name "*~" \) -exec rm -rf {} + 

binary-fixup/ossxp-testlink::
	# Remove runtime files used for development, or runtime files in development.
	-rm -rf debian/ossxp-testlink/opt/testlink/web/gui/templates_c
	-rm -f debian/ossxp-testlink/opt/testlink/web/config_db.inc.php
	-rm -f debian/ossxp-testlink/opt/testlink/web/custom_config.inc.php

	# Copy from template file
	cp custom_config.inc.php.example debian/ossxp-testlink/opt/testlink/web/custom_config.inc.php

	# Create runtime directory.
	mkdir   debian/ossxp-testlink/opt/testlink/web/gui/templates_c

	# Set permissions
	chown -R www-data.www-data debian/ossxp-testlink/opt/testlink/web/gui/templates_c
	chown -R www-data.www-data debian/ossxp-testlink/opt/testlink/log
	chown -R www-data.www-data debian/ossxp-testlink/opt/testlink/upload
	chown www-data.www-data debian/ossxp-testlink/opt/testlink/web

debian/control::

debian/patches/: debian/patches
debian/patches:
	git checkout t/all
	tg update
	tg export --quilt debian/patches.new
	cp -a debian/patches.new/* debian/patches && rm -rf debian/patches.new
	cd debian && git status

.PHONY: debian/patches debian/control
# vim: noet
